<!DOCTYPE html>
<body bgcolor="#888888 6666CC">
  <mat-toolbar class="t1">
     <div class="ic1">
        <mat-icon>menu</mat-icon>
     </div>
     <div class="ic3"><span class="material-icons">commute</span></div>
       <div class="aro"><span><b>Aro Travels</b></span></div>
      <div class="ic2"><span class="material-icons">commute</span></div>
    <div class="signup">
        <p><button mat-raised-button color="primary">sign up</button></p>
      </div>
  </mat-toolbar>
     <!-- <div class="head"><b><label>Welcome to Aro Travels...<mat-icon>mood</mat-icon></label></b>
       </div> -->
      
 <div class="mc1">
     <p><mat-card>
        <mat-card-title><b>Login page </b></mat-card-title>
         <div class="l1"><mat-label ><b>Username</b><input type="text"></mat-label>
             </div>
        <div class="l2"><mat-label><b>Password</b><input type="text" ></mat-label>
             </div>
       <div class="b1">
         <p><button mat-raised-button color="primary">Login</button></p>
       </div>
       <a button href="" target="">forget password ?</a>
       
      </mat-card></p>
  
 </div>
</body>